@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Azeret+Mono:wght@300;400;500;600;700&family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Anonymous Pro', monospace;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100%;
}

.heroe, 
.about,
.api-container,
.faq-container  {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url(./Images/bg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 80px;

    transition: all 1s ease;
    /* border-bottom: 1px solid #f2f2f250; */
    z-index: 111;
} 
.logo {
    display: flex;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 450px;
}
.nav-links a {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.btn-burger{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}
.hamburger {
    display: none;
}
.cta-btn {
    display: flex;
    align-items: center;
}
.cta-btn button {
    font-family: 'Anonymous Pro', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #000000;
    border: 1px solid #fff;
    outline: none;
    width: 149px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 5px;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
    max-width: 900px;
}
.main-text h2 {
    font-family: 'Azeret Mono', monospace;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.main-text p {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    max-width: 500px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-top: 1rem;
    color: #F2F2F2;
}

.heroe form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: 650px;
    margin-top: 2rem;
}
.heroe form span {
    display: flex;
    margin: 0 auto;
    column-gap: 1rem;
}
/* .heroe form input {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #F2F2F2;
    padding: 0  2rem;
    height: 60px;
    outline: none;
    border: 1px solid #D17D00;
    background-color: transparent;
    border-radius: 7px;
} */
.heroe form button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    border: 1px solid #fff;
    outline: none;
    /* position: absolute; */
    width: 180px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 6px;
}
.heroe form button:nth-child(1) {
    background-color: #CB6E17;
    border-color: #CB6E17;
    color: #F2F2F2;
}
.heroe form button:nth-child(1) p{
    color: #F2F2F2;
}
.heroe form p {
    color: #333333;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}
.heroe form button:hover, 
.cta-btn button:hover {
    transition: all 0.5s ease;
    opacity: 0.9;
    transform: scale(0.98);
}
.heroe form small {
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    overflow: hidden;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
}
.core-features {
    display: flex;
    padding: 0 80px;
    margin: 4rem 0;
    justify-content: space-around;
    column-gap: 2rem;
    overflow: hidden;
}
.core-features div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 250px;
    padding: 2rem;
    padding-right: .5rem;
    background: #CB6E17;
    border-radius: 10px;
    overflow: hidden;
}
.core-features div:nth-child(2) {
    background:  #035388;
}
.core-features div:nth-child(3) {
    background:  #610316;
}   
.core-features div span {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #ffffff17;
    min-width: 50px;
    width: 50px;
    max-height: 50px;
    min-height: 50px;
    border-radius: 50%;
}
.core-features div h4 , 
.api-request span h4{
    margin-top: 1rem;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    overflow: hidden;
}
.core-features div p,
.api-request span p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #F2F2F2;
    margin-top: 1rem;
    overflow: hidden;
}
@media screen and (max-width: 986px)  {
    .top-bar {
        padding: 0 40px;
    }
}

@media screen and (max-width: 786px)  {
    .heroe,
    .about,
    .faq-container  {
        background: url(./Images/bg-mobile.svg);
    }
    .top-bar {
        height: 70px;
        border-bottom: 1px solid #f2f2f250;
        padding: 0 1rem;
    }
    .logo img{
        width: 30px;
    }
    .nav-links {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .hamburger .iconify {
        font-size: 36px;
    }
    .cta-btn button {
        display: none;
        width: 120px;
        height: 38px;
        font-weight: 400;
        font-size: 14px;
    }
    .main-text {
        margin-top: 6rem;
    }
    .main-text h2 {
        font-size: 32px;
        line-height: 44px;
        padding: 0 1rem;
    }
    .main-text p {
        font-size: 18px;
        padding: 0 1rem;
    }
    .heroe form {
        width: 100%;
    }
    .heroe  form span {
        margin: 0 1rem;
        column-gap: 1rem;
    }
    .heroe form button p{
        font-size: 14px;
    }
    .core-features {
        flex-direction: column;
        padding: 0 1rem;
    }
    .core-features div {
        margin-top: 2rem;
    }
    .core-features div span {
        max-width: 40px;
        padding: 12px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    max-height: 100%;
}
.about header {
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.about header h3, 
.api-container header h3,
.faq-container header h3{
    font-family: 'Azeret Mono', monospace;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    overflow: hidden;
}
.about main {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0px;
}
.app-screens {
    flex-basis: 60%;
    margin-left: 80px;
    margin-right: 2rem;
    /* border-radius: 20px; */
    overflow: hidden;
    
}
.app-screens img {
    min-width: 100%;
    max-height:     650px;
    overflow: hidden;
    /* border-radius: 20px; */
}
.steps-container {
    position: relative;
    display: flex;
    flex-basis: 50%;
    margin-left: 2rem;
    margin-right: 80px;
    overflow: hidden;
}
.steps-container  .progress {
    position:  absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color:rgba(255, 255, 255, 0.2) ;

}
 .steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.steps span {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem 2rem;
    overflow: hidden;
}
.steps span:nth-child(1) {
    margin-top: 0;
    border-left: 5px solid #CB6E17;
}
.steps span h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
    overflow: hidden;
    /* ma */
}
.steps span p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: #F2F2F2;

    padding-top: 1rem;
    overflow: hidden;
}
@media screen and (max-width: 986px)  {
    .app-screens {
        margin-left: 40px;
    }
    .steps-container { 
        margin-right:  40px;
    }
}
@media screen and (max-width: 786px)  {
    .about {
        max-height: 100%;
    }
    .about main {
        flex-direction: column;
        padding: 4rem 0rem;
    }
    .about header h3,
    .api-container header h3,
    .faq-container header h3 {
        line-height: 36px;
        font-size: 24px;
    }
    .app-screens {
        border-radius: 0px;
        margin: 0;
    }
    .app-screens img {
        border-radius: 0px;
    }
    .steps-container {
        padding: 0rem;
        margin: 0;
        margin-left: 1rem;
        margin-top: 4rem;
    }
}

.api-container{
    background: url(./Images/bg-white.svg) !important;
    color: #000000;
    min-height: 60vh;
    padding: 4rem 80px;
    overflow: hidden;
}
.api-container header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
}
.api-container header p {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 600px;
    color: #333333;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
}
.api-container main {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    overflow: hidden;
}
.api-request {
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
    overflow: hidden;
}
.api-request span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 250px;
    background: rgba(255, 172, 48, 0.3);
    border-radius: 10px;
    padding-top: 2rem;
    padding-bottom: 0;
    margin-right: 2rem;
}
.api-request span img {
    width: 50px;
    padding:0 2rem;
}
.api-request span h4 {
    padding:0 2rem;
    padding-right: 1rem;
}
.api-request span p {
    color: #333333;
    padding:0 2rem;
    padding-right: 1rem;
}
.api-illustration {
    overflow: hidden;
    display: flex;
    flex-basis: 40%;
}

.api-request span footer {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0rem;
    background: rgba(97, 3, 22, 0.18);
    border-radius: 3px;
    margin-top: auto;
    width: 100%;
    overflow: hidden;
}
.api-request footer a {
    font-size: 14px;
    color: #610316;
    padding-left: 2rem;
}
.api-request span .iconify {
    font-size: 20px;
    padding-right: 2rem;
}
@media screen and (max-width: 986px)  {
    .api-container {
        padding: 4rem 40px;
    }
}
@media screen and (max-width: 786px)  {
    .api-container {
        background: url(./Images/bg-white-mobile.svg);
        padding: 4rem 1rem;
    }
    .api-container header p {
        font-size: 16px;
        line-height: 20px;
    }
    .api-request {
        flex-direction: column;
    }
    .api-container main {
        flex-direction: column-reverse;
    }
    .api-request span{
        margin-top: 2rem;
        margin-right: 0rem;
    }
} 


.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 80px;
    color: #FFFFFF;
    /* width: 100%; */
}
.faq-container header {
    display: flex;
    justify-content: center;
}

.faqs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.faq {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgba(241, 241, 241, 0.5);
    width: 100%;
    margin-bottom: 2rem;
}
.faq .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 0;
}
.faq-question h6 {
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.faq-question button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #CB6E17;
    border: none;
    outline: none;
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.faq-answer {
    display: none;
}

.contact-us-faq {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}
.contact-us-faq h4 {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.02em;
    margin-bottom: .4rem;
}
.contact-us-faq p {
    max-width: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #f2f2f2;
}
.contact-us-faq a {
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    color: #D17D00;
}
@media screen and (max-width: 986px)  {
    .faq-container {
        padding: 4rem 40px;
    }
}
@media screen and (max-width: 986px)  {
    .faq-container {
        padding: 4rem 1rem;
    }
    .faq-question {
        padding: 1rem 0;
    }
    .faq-question h6 {
        font-size: 16px;
        font-weight: 700;
    }
    .faq-question button {
        min-width: 30px;
        max-width: 30px;
        max-height: 30px;
        font-size:  20px;
    }
    .contact-us-faq h4 {
        font-size: 24px;
    }
}